@model AnalysisRequestAndResults

<div>
    <p>LibYear analysis for @Model.Request.Url<p/>
    <p>@Model.StatusMessage</p>
</div>

@if (@Model.Request.State == AnalysisRequest.Status.Success)
{
    @if (@Model.ProjectTotalLibYearOverTime != null)
    {
        <div>
            @Html.Raw(@Model.ProjectTotalLibYearOverTime.GetInlineHtml())
        </div>
    }

    @if (@Model.ProjectAverageLibYearOverTime != null)
    {
        <div>
            @Html.Raw(@Model.ProjectAverageLibYearOverTime.GetInlineHtml())
        </div>
    }

    @if (@Model.ProjectMaxLibYearOverTime != null)
    {
        <div>
            @Html.Raw(@Model.ProjectMaxLibYearOverTime.GetInlineHtml())
        </div>
    }

    @if (@Model.DependenciesLibYearOverTimeStacked != null)
    {
        <div>
            @Html.Raw(@Model.DependenciesLibYearOverTimeStacked.GetInlineHtml())
        </div>
    }
}
