@model AnalysisRequestAndResults

<div>
    <p>LibYear analysis for @Model.Request.Url<p/>
</div>

@if (@Model.ProjectTotalLibYearOverTime != null)
{
    <div>
        @Html.Raw(@Model.ProjectTotalLibYearOverTime.GetInlineHtml())
    </div>
}

@if (@Model.ProjectAverageLibYearOverTime != null)
{
    <div>
        @Html.Raw(@Model.ProjectAverageLibYearOverTime.GetInlineHtml())
    </div>
}

@if (@Model.ProjectMaxLibYearOverTime != null)
{
    <div>
        @Html.Raw(@Model.ProjectMaxLibYearOverTime.GetInlineHtml())
    </div>
}
